@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600i|Vollkorn:400,600i');

h1, h2 {
    font-family: 'Vollkorn', serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

p {
    font-family: 'Open Sans', serif;
    font-size: 15px;
    line-height: 24px;
}

main {
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
}